* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
 
header {
    background-color: rgb(227, 255, 227);
}

.logo {
    width: 5%;
    height: 5%;
}
 
.navbar {
    float: right;
    padding: 50px 50px 8px 50px;
    font-size: 25px;     
}

.navbar a{
    text-decoration: none;
    color: black;
    margin-left: 70px;
    border: 3px solid rgb(227, 255, 227);
    background-color: rgb(227, 255, 227);
    padding: 15px 15px 6px 15px;
}
 
.navbar a:hover{     
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.about img{
    width: 100%;
    height: 40%;
    object-fit: cover;
    opacity: 50%;
}

.text{
    max-width: 50%;
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translateY(-50%);
    font-size: 30px;
    background-color: black;
    opacity: 60%;
    color: white;
    padding: 3rem 3rem;
    border-radius: 10px;
    font-family: Gabriola;
    text-align: center;
}


 